@page
@model PatchRapportering.Pages.ComplianceViewModel
@{
    ViewData["Title"] = "PatchRapportering";
}


<div class="text-left">
    <h1 class="display-4">Compliance View</h1>
    <p>This page is a listing of interesting numbers pulled from the stored date.<br /> ID = @Model.Hostname</p>
</div>